In [18]:
import pandas as pd
import numpy as np
import scipy.optimize as op
from sklearn.model_selection import train_test_split

In [19]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
import xgboost as xgb

In [20]:
# Cross Validation (K-fold)

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

In [21]:
# Hyper Parameter Optimization and Computation
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

In [22]:
train = pd.read_csv (r"C:\Users\admin\Desktop\Datasets\Titanic_Kaggle\train_nt_clean.csv")
test = pd.read_csv (r"C:\Users\admin\Desktop\Datasets\Titanic_Kaggle\test_nt_clean.csv")

In [23]:
train.head()

,Survived,Sex,Fare,Cabin,Embarked,Title,Age,Pclass_1,Pclass_2,Pclass_3,...,Age_5,Fam_1,Fam_2,Fam_3,Fam_4,Fam_5,Fam_6,Fam_7,Fam_8,Fam_11
0,0,0.647587,0.014151,0.837262,0.725028,0.580247,2.0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
1,1,0.352413,0.139136,0.837262,0.188552,0.140292,4.0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,0.352413,0.015469,0.837262,0.725028,0.204265,3.0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
3,1,0.352413,0.103644,0.837262,0.725028,0.140292,3.0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,0.647587,0.015713,0.837262,0.725028,0.580247,3.0,0,0,1,...,0,1,0,0,0,0,0,0,0,0

In [24]:
test.head()

,Sex,Fare,Cabin,Embarked,Title,Age,Pclass_1,Pclass_2,Pclass_3,Age_1,...,Age_5,Fam_1,Fam_2,Fam_3,Fam_4,Fam_5,Fam_6,Fam_7,Fam_8,Fam_11
0,0.636364,0.015282,0.866029,0.110048,0.574163,3.0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
1,0.363636,0.013663,0.866029,0.645933,0.172249,4.0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
2,0.636364,0.018909,0.866029,0.110048,0.574163,5.0,0,1,0,0,...,1,1,0,0,0,0,0,0,0,0
3,0.636364,0.016908,0.866029,0.645933,0.574163,3.0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
4,0.363636,0.023984,0.866029,0.645933,0.172249,2.0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0

In [25]:
print (train.shape)
print (test.shape)

(891, 24)
(418, 23)

In [26]:
x = train.iloc[:,1:24]
y = train.iloc[:,0]

In [27]:
x_train , x_test , y_train , y_test = train_test_split (x,y,test_size=0.33,random_state=5)

In [28]:
print (x_train.shape)
print (x_test.shape)
print (y_train.shape)
print (y_test.shape)

(596, 23)
(295, 23)
(596,)
(295,)

In [29]:
# KNN

In [30]:
clf = KNeighborsClassifier()
clf.fit(x_train , y_train)
pred1 = clf.predict(test)

In [31]:
score_train = cross_val_score(clf, x_train,y_train, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_train)*100,2))
score_test = cross_val_score(clf, x_test,y_test, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_test)*100,2))

72.82
75.26

In [32]:
# Decision Tree

In [33]:
clf = DecisionTreeClassifier()
clf.fit(x_train , y_train)
pred2 = clf.predict(test)

In [34]:
score_train = cross_val_score(clf, x_train,y_train, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_train)*100,2))
score_test = cross_val_score(clf, x_test,y_test, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_test)*100,2))

77.34
74.3

In [35]:
# Random Forest

In [36]:
clf = RandomForestClassifier()
clf.fit(x_train , y_train)
pred3 = clf.predict(test)

In [37]:
score_train = cross_val_score(clf, x_train,y_train, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_train)*100,2))
score_test = cross_val_score(clf, x_test,y_test, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_test)*100,2))

77.86
82.41

In [38]:
# Naive Bayes

In [39]:
clf = GaussianNB()
clf.fit(x_train,y_train)
pred4 = clf.predict(test)

In [40]:
score_train = cross_val_score(clf, x_train,y_train, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_train)*100,2))
score_test = cross_val_score(clf, x_test,y_test, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_test)*100,2))

42.59
40.05

In [41]:
# Support Vector Machine

In [42]:
clf = SVC()
clf.fit(x_train,y_train)
pred5 = clf.predict(test)

In [43]:
score_train = cross_val_score(clf, x_train,y_train, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_train)*100,2))
score_test = cross_val_score(clf, x_test,y_test, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_test)*100,2))

81.04
78.0

In [44]:
# Logistic Regression

In [45]:
clf = LogisticRegression()
clf.fit(x_train,y_train)
pred6 = clf.predict(test)

In [46]:
score_train = cross_val_score(clf, x_train,y_train, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_train)*100,2))
score_test = cross_val_score(clf, x_test,y_test, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_test)*100,2))

79.36
83.47

In [47]:
# XGBoost

In [48]:
clf = xgb.XGBClassifier()
clf.fit(x_train,y_train)
pred7 = clf.predict(test)

In [49]:
score_train = cross_val_score(clf, x_train,y_train, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_train)*100,2))
score_test = cross_val_score(clf, x_test,y_test, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_test)*100,2))

82.38
84.46

In [67]:
# Ensemble Voting

sub=[]
sub.append(pred1)
sub.append(pred2)
sub.append(pred3)
#sub.append(pred4)
sub.append(pred5)
sub.append(pred6)
sub.append(pred7)
sub = np.array(sub)
sub_final = []
for i in range (418):
    p = 0
    n = 0
    j = 0
    for j in range (6):
        if (sub[j][i]==1):
            p=p+1
        else:
            n=n+1
    if (p>n):
        sub_final.append(1)
    else:
        sub_final.append(0)

In [68]:
test1 = pd.read_csv(r"C:\Users\admin\Desktop\Datasets\Titanic_Kaggle\gender_submission.csv")
submission = pd.DataFrame({"PassengerId": test1["PassengerId"] , "Survived": sub_final})

submission["PassengerId"] = submission["PassengerId"].astype(int)
submission["Survived"] = submission["Survived"].astype(int)

submission.to_csv(r"C:\Users\admin\Desktop\submission_titanic.csv" , index=False , header=True)