In [1]:
import pandas as pd
import numpy as np
import scipy.optimize as op
from sklearn.model_selection import train_test_split

In [2]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
import xgboost as xgb

In [3]:
# Cross Validation (K-fold)

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

In [4]:
# Hyper Parameter Optimization and Computation
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV

In [5]:
train = pd.read_csv (r"C:\Users\admin\Desktop\Datasets\Titanic_Kaggle\train_t_clean.csv")
test = pd.read_csv (r"C:\Users\admin\Desktop\Datasets\Titanic_Kaggle\test_t_clean.csv")

In [6]:
train.head()

   Survived  Pclass  Sex     Fare  Cabin  Embarked  Title  Age  FamilySize
0         0       3    1   7.2500      3         1      1  2.0           2
1         1       1    0  71.2833      3         2      3  4.0           2
2         1       3    0   7.9250      3         1      2  3.0           1
3         1       1    0  53.1000      3         1      3  3.0           2
4         0       3    1   8.0500      3         1      1  3.0           1

In [7]:
test.head()

   Pclass  Sex     Fare  Cabin  Embarked  Title  Age  FamilySize
0       3    1   7.8292      3         3      1  3.0           1
1       3    0   7.0000      3         1      3  4.0           2
2       2    1   9.6875      3         3      1  5.0           1
3       3    1   8.6625      3         1      1  3.0           1
4       3    0  12.2875      3         1      3  2.0           3

In [8]:
print (train.shape)
print (test.shape)

(891, 9)
(418, 8)

In [9]:
x = train.iloc[:,1:9]
y = train.iloc[:,0]

In [10]:
x_train , x_test , y_train , y_test = train_test_split (x,y,test_size=0.33,random_state=5)

In [11]:
print (x_train.shape)
print (x_test.shape)
print (y_train.shape)
print (y_test.shape)

(596, 8)
(295, 8)
(596,)
(295,)

In [12]:
# KNN

In [13]:
clf = KNeighborsClassifier()
clf.fit(x_train , y_train)
pred1 = clf.predict(test)

In [14]:
score_train = cross_val_score(clf, x_train,y_train, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_train)*100,2))
score_test = cross_val_score(clf, x_test,y_test, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_test)*100,2))

73.66
78.0

In [15]:
# Decision Tree

In [16]:
clf = DecisionTreeClassifier()
clf.fit(x_train , y_train)
pred2 = clf.predict(test)

In [17]:
score_train = cross_val_score(clf, x_train,y_train, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_train)*100,2))
score_test = cross_val_score(clf, x_test,y_test, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_test)*100,2))

78.01
75.31

In [18]:
# Random Forest

In [36]:
clf = RandomForestClassifier()
clf.fit(x_train , y_train)
pred3 = clf.predict(test)

In [37]:
score_train = cross_val_score(clf, x_train,y_train, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_train)*100,2))
score_test = cross_val_score(clf, x_test,y_test, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_test)*100,2))

78.51
81.41

In [21]:
# Naive Bayes

In [22]:
clf = GaussianNB()
clf.fit(x_train,y_train)
pred4 = clf.predict(test)

In [23]:
score_train = cross_val_score(clf, x_train,y_train, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_train)*100,2))
score_test = cross_val_score(clf, x_test,y_test, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_test)*100,2))

77.35
79.77

In [24]:
# Support Vector Machine

In [25]:
clf = SVC()
clf.fit(x_train,y_train)
pred5 = clf.predict(test)

In [26]:
score_train = cross_val_score(clf, x_train,y_train, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_train)*100,2))
score_test = cross_val_score(clf, x_test,y_test, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_test)*100,2))

66.78
68.14

In [27]:
# Logistic Regression

In [28]:
clf = LogisticRegression()
clf.fit(x_train,y_train)
pred6 = clf.predict(test)

C:\Users\admin\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [29]:
score_train = cross_val_score(clf, x_train,y_train, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_train)*100,2))
score_test = cross_val_score(clf, x_test,y_test, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_test)*100,2))

80.71
83.11

In [30]:
# XGBoost

In [31]:
clf = xgb.XGBClassifier()
clf.fit(x_train,y_train)
pred7 = clf.predict(test)

In [32]:
score_train = cross_val_score(clf, x_train,y_train, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_train)*100,2))
score_test = cross_val_score(clf, x_test,y_test, cv=k_fold, n_jobs=-1, scoring="accuracy")
print (round(np.mean(score_test)*100,2))

82.71
82.44

In [34]:
# Ensemble Voting

sub=[]
sub.append(pred1)
sub.append(pred2)
sub.append(pred3)
sub.append(pred4)
sub.append(pred5)
sub.append(pred6)
sub.append(pred7)
sub = np.array(sub)
sub_final = []
for i in range (418):
    p = 0
    n = 0
    j = 0
    for j in range (7):
        if (sub[j][i]==1):
            p=p+1
        else:
            n=n+1
    if (p>n):
        sub_final.append(1)
    else:
        sub_final.append(0)

In [35]:
test1 = pd.read_csv(r"C:\Users\admin\Desktop\Datasets\Titanic_Kaggle\gender_submission.csv")
submission = pd.DataFrame({"PassengerId": test1["PassengerId"] , "Survived": sub_final})

submission["PassengerId"] = submission["PassengerId"].astype(int)
submission["Survived"] = submission["Survived"].astype(int)

submission.to_csv(r"C:\Users\admin\Desktop\submission_titanic.csv" , index=False , header=True)